@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

.border_round {
    border-radius: 10%;
}

.btn__border_round {
    border-radius: 40px;
}

.card {
    font-family: 'Playfair Display', serif;
    background: #2980B9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 2px solid #C0C0C0;
    width: 300px;
    min-width: 300px;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.card-img-top {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.card h4 {
    margin: 0;
}

.species__icon,
.gender__icon {
    font-size: 40px;
}

.card__text {
    font-size: 20px;
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
    /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
    box-shadow: 0 20px 50px rgba(8, 112, 184, 0.7);
}

.pag__menu {
    justify-content: center;
}

.page--link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-item:first-child .page--link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.page-item.disabled .page--link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.page-item:last-child .page--link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.page-item.active .page--link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}