@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');


.species-icon,
.gender-icon {
    font-size: 30px;
}
  
.card {
    font-family: 'Ubuntu', sans-serif;
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* .animal-img {
        width: 100%;
    height: 40vh;
    object-fit: cover;
    } */

