body {
    background: #A1FFCE;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FAFFD1, #A1FFCE);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FAFFD1, #A1FFCE);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.back-to-main {
    margin-left: 5%;
    font-size: 1.5rem;
}
.back-to-main a,
.back-to-main a:visited {
    color: #000;
    text-decoration: none;
}
.back-to-main a:hover {
    text-decoration: underline;
}