@keyframes drawBorder {
  0% {
    background-color: rgb(255, 255, 255, 0.1);
  }
  25% {
    border-left: 2px solid #fff;
    background-color: rgb(255, 255, 255, 0.3);
  }
  50% {
    border-top: 2px solid #fff;
    background-color: rgb(255, 255, 255, 0.6);
  }
  75% {
    border-right: 2px solid #fff;
    background-color: rgb(255, 255, 255, 0.7);
  }
  100% {
    border: 2px solid #fff;
    background-color: rgb(255, 255, 255, 0.8);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pulseChanged {
  0% {
    box-shadow: 0 0 8px rgb(255, 154, 24, 0.25),
      inset 0 0 8px rgb(255, 154, 24, 0.25);
  }
  25% {
    box-shadow: 0 0 8px rgb(255, 154, 24, 0.5),
      inset 0 0 8px rgb(255, 154, 24, 0.5);
  }
  50% {
    box-shadow: 0 0 16px rgb(255, 154, 24, 0.75),
      inset 0 0 14px rgb(255, 154, 24, 0.75);
  }
  75% {
    box-shadow: 0 0 8px rgb(255, 154, 24, 0.5),
      inset 0 0 8px rgb(255, 154, 24, 0.5);
  }
  100% {
    box-shadow: 0 0 8px rgb(255, 154, 24, 0.25),
      inset 0 0 8px rgb(255, 154, 24, 0.25);
  }
}

@keyframes pulseCircle {
  0% {
    box-shadow: inset 0px 1px 1px 0px rgba(255, 92, 0, 1);
  }
  12% {
    box-shadow: inset -1px 1px 1px 0px rgba(255, 92, 0, 1);
  }
  25% {
    box-shadow: inset -1px 0px 1px 0px rgba(255, 92, 0, 1);
  }
  37% {
    box-shadow: inset -1px -1px 1px 0px rgba(255, 92, 0, 1);
  }
  50% {
    box-shadow: inset 0px -1px 1px 0px rgba(255, 92, 0, 1);
  }
  63% {
    box-shadow: inset 1px -1px 1px 0px rgba(255, 92, 0, 1);
  }
  75% {
    box-shadow: inset 1px 0px 1px 0px rgba(255, 92, 0, 1);
  }
  87% {
    box-shadow: inset 1px 1px 1px 0px rgba(255, 92, 0, 1);
  }
  100% {
    box-shadow: inset 0px 1px 1px 0px rgba(255, 92, 0, 1);
  }
}
