@media screen and (min-width: 1121px) and (max-width: 1400px) {
  .top-section {
    height: 60vh;
  }
}
@media screen and (min-width: 601px) and (max-width: 1120px) {
  .top-section {
    height: 40vh;
  }
}
@media (max-width: 600px) {
  .top-section {
    background-size: cover;
    height: 25vh;
  }
}
