@import url('https://fonts.googleapis.com/css?family=Courier+Prime:400,700|Playfair+Display:400,700&display=swap');
@import url('./animations.css');
@import url('./media-queries.css');

textarea,
select,
input,
button,
button:focus {
  outline: none;
}
.details-window,
.cart-window,
.animal-in-cart__text,
.sort-buttons,
.cart-area,
.cart-list,
.goto-nav {
  font-family: 'Courier Prime', monospace;
}
.animals-window .card,
.arrow-up__text,
.card {
  font-family: 'Playfair Display', serif;
}
.page-item.active .page-link,
.drop-menu-area .active {
  pointer-events: none;
}
body {
  background: #f3e0be;
}
.main-window {
  position: relative;
}
.border_round {
  border-radius: 5%;
}
.btn__border_round {
  border-radius: 40px;
}
.animated {
  animation-fill-mode: initial;
}
.details-window,
.cart-window {
  background: rgba(0, 0, 0, 0.9);
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: scroll;
  padding-top: 3%;
}
.hidden {
  display: none;
}
.details-list__columns {
  margin: 0 auto;
}
.details-list__columns li {
  margin: 5px 0;
}
/* --- detailed card --- */
.detailed-card {
  background: #f3e0be;
  border-radius: 10%;
  max-width: 650px;
  margin: 0 auto;
}

.detailed-img {
  min-width: 250px;
  min-height: 250px;
  max-width: 90%;
  object-fit: contain;
  border-radius: 10%;
  margin: 20px 0;
}
.detailed-img:before {
  width: 250px;
  height: 250px;
  content: ' ';
  display: block;
  position: absolute;
  background-image: url('./../img/backup.jpg');
  background-position: center center;
}
/* --- pag-menu --- */
.pag__menu {
  justify-content: center;
}
.goto-nav {
  width: 250px;
  height: 50px;
  background-color: #fff;
}
.goto__input {
  width: 40px;
  height: 40px;
}
/* --- animals-card --- */
.animals-window .card {
  background: #ece9e6;
  background: -webkit-linear-gradient(to bottom, #ffffff, #ece9e6);
  background: linear-gradient(to bottom, #ffffff, #ece9e6);
  border: 2px solid #c0c0c0;
  width: 250px;
  min-width: 250px;
  overflow: hidden;
  transition: 500ms;
}
.card-img-top,
.card-img-top:before {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.card-img-top:before {
  content: ' ';
  display: block;
  position: absolute;
  background-image: url('./../img/backup.jpg');
  background-position: center center;
}
.card h4 {
  margin: 0;
}
.species__icon,
.gender__icon {
  font-size: 30px;
}
.card__text {
  font-size: 18px;
}
.animals-window .card:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0 20px 50px #ffffe0;
}
.cart-table {
  background-color: #fff;
}
.top-section {
  background-image: url('./../img/pet-shop1.png');
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  background-color: #fff;
  height: 70vh;
}
/*  --- cart-window --- */
.cart-area {
  width: 80%;
  max-height: 90vh;
  margin: 0 auto;
}
.cart-table {
  overflow-y: auto;
  height: 60vh;
}
.cart-table thead th {
  position: sticky;
  top: 0;
  background-color: #fff;
}
.cart-table__header th {
  z-index: 3;
}
.remove-from-cart {
  cursor: pointer;
}
.cart-button {
  position: relative;
  width: 47px;
  height: 47px;
  margin: 0 10px;
}
.cart-button button {
  background: none;
  border: none;
  border-radius: 50%;
  background-color: #fff;
}
.cart-button button:hover {
  transform: scale(1.1);
  -webkit-animation: pulseCircle 800ms ease-in-out infinite;
  animation: pulseCircle 800ms ease-in-out infinite;
}
.cart-button i {
  position: absolute;
  top: 10px;
  left: 6px;
}
.number-in-cart {
  color: #fff;
  background-color: #942e01;
  z-index: 2;
  position: absolute;
  font-size: 16px;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  right: -10px;
  top: -10px;
}
.cart-button:hover .number-in-cart {
  right: -10px;
  top: -10px;
}
.animal-in-cart-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  position: relative;
}
.animal-in-cart-img::after {
  content: '\f1c5'' ' attr(alt);
  font-size: 16px;
  font-family: FontAwesome;
  color: rgb(100, 100, 100);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.animal-in-cart__text {
  font-size: 20px;
}
.order-form {
  background-color: #ffffe0;
}
.order-form input {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.39), 0 -1px 1px #fff, 0 1px 0 #fff;
}
.order-complete .card-header {
  background-color: #20c997;
}
/* top bar */
.top-bar {
  position: fixed;
  top: 15px;
  right: 25px;
  background-color: #8b5f3c;
  z-index: 3;
  border-radius: 25px;
  min-height: 60px;
  width: auto;
  padding: 0 15px;
  font-size: 30px;
}
/* --- quick-species --- */
.species-btn {
  width: 182px;
  height: 145px;
  background: none;
  border: 2px outset rgb(255, 199, 56);
  border-radius: 25%;
  transition: all 400ms ease-in-out;
}
.species-btn:hover {
  animation: drawBorder 400ms forwards;
  transform: scale(1.1);
}
.active-species {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
}
/* drop-down menu */
.sort-menu {
  position: relative;
  left: -60px;
  top: 0px;
}
/* search */
.search-form {
  position: relative;
}
.search-input {
  background-color: #fff;
  border: none;
  border-radius: 47px;
  width: 47px;
  height: 47px;
  padding-left: 45px;
  box-shadow: 0 20px 50px rgba(218, 154, 83, 0.7);
  -webkit-transition: width 500ms ease-in-out;
  transition: width 500ms ease-in-out;
}
/* --- sort --- */
/* arrow-up */
.arrow-up {
  position: fixed;
  top: 80%;
  right: 20px;
}
.arrow-up i {
  font-size: 60px;
}
.arrow-up button {
  background: none;
  border: none;
}
.arrow-up__text {
  font-size: 20px;
  cursor: pointer;
}
.to-up-disabled {
  display: none;
  z-index: -3;
}
.search-input-icon:hover + .search-input,
.search-input:hover,
.search-input:focus {
  width: 300px;
  -webkit-animation: pulseChanged 1.5s ease-in-out infinite;
  animation: pulseChanged 1.5s ease-in-out infinite;
}
.search-input-icon {
  position: absolute;
  top: 9px;
  left: 8px;
}
